__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyc

.venv/
*.egg-info/
dist/
build/
node_modules/

.env
.env.*
!.env.example

# Terraform local state artifacts
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
backend.hcl
crash.log
crash.*.log
.terraformrc
terraform.rc

nul
